/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 80px;
}

.mainpageImg {
  height: 100%;
  background-position: center center;
  width: 100%;
  background-size: cover;
  background-image: url("/app-files/img/tarmo-images/Tarmo_Topi_Leikas.jpg");
}

#pano {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Ominaisuuksia piilossa */
/* ---------------------------------------------------------------------------------------------------------------------------- */

.scene {
  display: none;
}

#autorotateToggle {
  display: none;
}

#fullscreenToggle {
  display: none;
}

#sceneListToggle {
  display: none;
}


/* View control buttons */
/* ---------------------------------------------------------------------------------------------------------------------------- */

.viewControlButton {
  position: absolute;
  margin: auto;
  width: 8%;
  padding-top: 8%;
  background-color: rgba(40, 40, 40, 0);
  border-radius: 2px;
}

.viewControlButton:hover {
  box-shadow: 0px 0px 20px 2px#fff;
}

body.view-control-buttons .viewControlButton {
  display: block;
}

.viewControlButton .icon {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  padding-bottom: 80%
}

#panoNav {
  display: block;
  position: fixed;
  left: 12%;
  bottom: 5%;
  transform: translate(-50%, 0);
  width: 15%;
  padding-top: 15%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 98;  
}

body.view-control-buttons .viewControlButton {
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, 50%);
  width: 30%;
  padding-top: 30%;
}

.viewControlButton-1 {
  left: 50%;
  top: -10%;
}
.viewControlButton-2 {
  left: 50%;
  top: 50%;
}
.viewControlButton-3 {
  left: 20%;
  top: 20%;
}
.viewControlButton-4 {
  left: 80%;
  top: 20%;
}
.viewControlButton-5 {
  left: 110%;
  top: -20%;
}
.viewControlButton-6 {
  left: 110%;
  top: 60%;
}


/* Button tooltips */
/* ---------------------------------------------------------------------------------------------------------------------------- */


.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  top: -80%;
  left: -25%;
  text-align: center;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 999;
}

.tooltip:focus{
  outline: 2px solid white;
}


/* Move controls when width is too small (mobile) */
/* ---------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 800px) {
  body.view-control-buttons .viewControlButton {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    width: 30%;
    padding-top: 30%;
  }

  .viewControlButton-1 {
    left: 50%;
    top: -10%;
  }
  .viewControlButton-2 {
    left: 50%;
    top: 50%;
  }
  .viewControlButton-3 {
    left: 20%;
    top: 20%;
  }
  .viewControlButton-4 {
    left: 80%;
    top: 20%;
  }
  .viewControlButton-5 {
    left: 110%;
    top: -20%;
  }
  .viewControlButton-6 {
    left: 110%;
    top: 60%;
  }

  #panoNav {
    position: fixed;
    left: 15%;
    bottom: 3%;
    
    display: block;
    width: 20%;
    padding-top: 20%;
    border-radius: 50%;
  }

}
